@mixin headerAll {
  width: 100%;
  height: 9.99rem;
}


@mixin header__mainAll {
  width: 82%;
  margin: auto;
  height: 80%;
  margin-top: 1rem;
  display: $flex;
}
@mixin header__logoSite {
  width: 20%;
  height: 100%;
  display: $flex;
  background-repeat: no-repeat; /* Do not repeat the image */
}

@mixin img__logo {
  height: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 2.4rem;
}

@mixin headerMainInformation {
  width: 80%;
  height: 100%;
}
@mixin headerMainInformationBuy {
  width: 100%;
  height: 50%;
  display: $flex;
  font-size: 9;
  position: relative;
}
@mixin headerMainInformationBuyinput {
  width: 24rem;
  height: 2.4rem;
  border-radius: 20px;
  padding-left: 1rem;
  margin-top: 0.6rem;
  z-index: 12;
  border: 1.5px solid #00000067;
  color: #000;
  outline: none;

}
@mixin headerMainInformationMenu {
  width: 83%;
  height: 50%;
}
@mixin headerphoneimg {
  width: 1rem;
}

@mixin headerphone {
  margin-top: 1.3rem;
  margin-left: 1rem;
}

@mixin header__main--information-buybutton {
  width: 5.4rem;
  height: 1.78rem;
  margin-top: 1.1rem;
  margin-left: 2rem;
  margin-right: 1rem;
  background: $red;
  border: none;
  border-radius: 6px;
  color: white;
}

@mixin headerfaverit {
  margin-top: 1.5rem;
  margin-left: 1.2rem;
  cursor: pointer;
}
@mixin headerfaveritspan {
  width: 0.8rem;
  height: 1rem;
  background: $red;
  border-radius: 100%;
  display: $flex;
  z-index: 1;
  margin-top: 0.8rem;
  font-size: 10pt;
  position: absolute;
  color: white;
  margin-left: 1.4rem;
  padding-left: 0.4rem;
  padding-top: 0.02rem;
}
@mixin faveritspan {
  width: 0.7rem;
  height: 1rem;
  background: $red;
  color: white;
  display: $flex;
  border-radius: 100%;
  font-size: 10pt;
  margin-top: -1.4rem;
  padding-left: 0.38rem;
  margin-left: -0.6rem;
  z-index: 2;
}
@mixin cartspan {
  width: 0.7rem;
  height: 1rem;
  background: $red;
  color: white;
  display: $flex;
  border-radius: 100%;
  font-size: 10pt;
  margin-top: -1.4rem;
  padding-left: 0.38rem;
  margin-left: 0.6rem;
  z-index: 2;
}

@mixin headermaininformationmenu {
  display: $flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 1.48rem;
  list-style-type: none;
}
@mixin pointer {
  cursor: pointer;
  font-weight: bold;
  font-size: 9pt;
  height: 4rem;
  z-index: 9;
}

@mixin forms {
  width: 100%;
  height: 120px;
  background: $red;
  display: $flex;
}
@mixin formlable {
  color: white;
  font-weight: bold;
}

@mixin marauto {
  margin: auto;
  margin-top: 1rem;
}

@mixin forminput {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  align-items: center;
  color: #ffffffc7;
  display: inline-grid;
  font-size: 9pt;
  margin-right: 0.5rem;
}

@mixin formInputfont {
  width: 11rem;
  height: 2.4rem;
  border-radius: 20px;
  font-size: 7pt;
  padding-left: 1rem;
  font-weight: bold;
  border: none;
  outline: none;
}
@mixin forminputlable {
  margin-left: 1rem;
  padding-bottom: 0.2rem;
  font-size: 7pt;
  opacity: 0.9;
}
@mixin forminputsubmit {
  color: aliceblue;
  background: #313131;
  font-weight: bold;
  font-size: 9pt;
  width: 107px;
  height: 44.59px;
  border-radius: 29px;
  cursor: pointer;
  border: none;
}
@mixin lineheights {
  line-height: 51px;
}
@mixin sliders {
  margin: auto;
  margin-top: 1rem;
  width: 941px;
  height: 38rem;
  display: $flex;
}
@mixin sliderbox {
  width: 50%;
  height: 100%;
}
@mixin slidershow {
  width: 50%;
  height: 100%;
}
@mixin maindisy {
  margin-left: 16.5rem;
  margin-top: 1rem;
  font-size: 9pt;
  opacity: 0.6;

}
@mixin mainslidergerbera {
  display: $flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-top: 1rem;
}
@mixin mainsliderdaisy {
  font-size: 21pt;
}
@mixin mainsliderproduct {
  color: #00000073;
  font-size: 10pt;
}
@mixin mainsliderOrder {
  margin: 3rem;
  font-size: 9.5pt;
  margin-top: 2rem;
  color: #000000ba;
  margin-bottom: 0.5rem;
}

@mixin mainboxarrow {
  width: 85%;
  height: 100%;
  display: $flex;
  border-radius: 9px;
}
@mixin mainboxinbox {
  width: 15%;
  height: 100%;
  line-height: 4rem;
  text-align: center;
  cursor: pointer;
}

@mixin mainboxsquer {
  width: 1rem;
  height: 1.35rem;
  background: #4e4e4e85;
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 100%;
  padding-left: 0.57rem;
  font-size: 11pt;
  padding-top: 0.2rem;
  color: white;
}



@mixin mainboxshawn {
  display: $flex;
  flex-direction: column;
  margin: 1rem;
  line-height: 1.3rem;
}



@mixin mainlist {
  width: 100%;
  height: 4rem;
  margin-top: 0.5rem;
  display: $flex;
}
@mixin maininput {
  width: 50%;
  height: 100%;
}
@mixin mainwishlist {
  width: 50%;
  height: 100%;
}
@mixin mainwishlistaddwishlist {
  margin-top: 6rem;
  padding: 3rem;
  font-size: 11pt;
  line-height: 69px !important;
  cursor: pointer;
}
@mixin maininputcontinue {
  width: 62%;
  color: white;
  background: #f3557c;
  border: none;
  height: 2.9rem;
  margin-left: 2.1rem;
  font-size: 9pt;
  margin-top: 1rem;
  border-radius: 6px;
  cursor: pointer;
}
@mixin maininputcoupon {
  width: 54%;
  height: 2.5rem;
  border-radius: 28px;
  background: #000;
  color: #ffffffd9;
  border: none;
  margin: 0.7rem;
  margin-left: 5rem;
  font-size: 8pt;
  font-weight: bold;
  cursor: pointer;
}
@mixin maininputtext {
  margin: 0.8rem;
  margin-left: 3rem;
  border: 1px solid;
  height: 2.36rem;
  width: 22rem;
  padding-left: 2rem;
  color: #0000004f;
  margin-top: 11px;
  border-radius: 30px;
  outline: none;
  font-size: 9pt;
}

.sotioal{
  margin-right: 1.5rem;
  margin-top: 0.5rem;
}

@mixin mainslidershower {
  width: 100%;
  height: 33rem;
  margin: auto;
  background-color: darkgreen;
}
@mixin mainsliderlowshower {
  width: 100%;
  height: 6rem;
  text-align: center;
  display: $flex;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
  justify-content: space-evenly;
}
@mixin mainslidershowerimg {
  width: 100%;
  height: 100%;
}
@mixin mainsliderimagessize {
  width: 4rem;
  height: 4rem;
}
@mixin mainsliderarrowlower {
  border: 1px solid;
  position: absolute;
  width: 22px;
  border-radius: 100%;
  padding-left: 9px;
  padding-top: 7px;
  margin-top: 5rem;
  height: 20px;
  padding-bottom: 5px;
  color: #0000007a;
  margin-left: 20.2rem;
}
.icon-arrow1{
  display: none;
}
@mixin mainsliderarrowlowers {
  border: 1px solid;
  width: 19px;
  border-radius: 100%;
  padding-right: 7px;
  padding-top: 7px;
  height: 19px;
  padding-bottom: 6px;
  margin-top: -7rem;
  color: #0000007a;
  margin-left: 74rem;
  padding-left: 4px;
  position: absolute;
}
@mixin mainhr {
  margin-top: 9rem;
  margin-bottom: 3rem;
  opacity: 0.3;
}
@mixin mainhr3 {
  margin-top: -1rem;
  margin-bottom: 3rem;
  opacity: 0.3;
}
@mixin maingift {
  text-align: center;
  margin-left: 21rem;
  font-size: 23pt;
  color: #000000d9;
  display: flex;

}
@mixin mainslidergoft {
  width: 47%;
  height: 12rem;
  text-align: center;
  display: $flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  overflow: hidden;
}

@mixin mainmargingif {

}
@mixin mainmarginspan {
  margin-left: 3.5rem;
  display: $flex;
}
@mixin mainflex {
  display: $flex;
  flex-direction: column;
  align-items: center;
  color: #0000007a;
  margin-left: 3rem;
  font-size: 10pt;
}

@mixin mainslidergiftsize {
  width: 6.3rem;
  height: 6.3rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: rgba(0, 0, 0, 0.514);
}
@mixin mainhr2 {
  margin-top: 2rem;
  margin-bottom: 3rem;
  opacity: 0.3;
}
@mixin mainlorem {
  width: 56%;
  margin: auto;
  font-size: 11pt;
  height: 9rem;
  color: rgb(0 0 0 / 34%);
  margin-left: 20.5rem;
}
@mixin mainDiscription {
  margin-left: 20.5rem;
  font-size: 20pt;
  color: #000000b8;
  margin-bottom: 1rem;
}
@mixin mainimg {
  width: 0.7rem;
  height: 0.7rem;
  margin-right: 1rem;
  text-align: right;
  border: 1px solid #00000016;
  float: right;
  opacity: 0.5;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 100%;
}
@mixin mainchat {
  width: 60%;
  height: 23rem;
  margin: auto;
  border-radius: 10px;
  box-shadow: 3px 3px 27px 1px #00000016;
}

@mixin mainchatimage {
  width: 3rem;
  height: 3rem;
  margin-top: 2rem;
  margin-left: 3rem;
}
@mixin mainchatCostomer {
  display: block;
  margin-top: -2.5rem;
  margin-left: 7rem;
  font-size: 14pt;
  color: #000000b8;
}

@mixin mainchates {
  width: 100%;
  height: 18rem;
  display: $flex;
}
@mixin mainchatinptus {
  width: 80%;
  border-radius: 10px;
  height: 100%;
  margin-top: 0.6rem;
}
@mixin mainchatstars {
  width: 20%;
  height: 100%;
  margin-top: 0.6rem;
}
@mixin maininputreview {
  width: 90%;
  margin-left: 3rem;
  height: 2.5rem;
  padding-left: 1rem;
  margin-top: 1rem;
  outline: none;
  border-radius: 6px;
  border: 1px solid #0000002e;
}
@mixin maininputwrite {
  width: 90%;
  margin-top: 1rem;
  margin-left: 3rem;
  padding-left: 1rem;
  padding-top: 1rem;
  color: #0006;
  height: 7rem;
  resize: none;
  outline: none;
  border-radius: 6px;
  border: 1px solid #0000002e;
}
@mixin maininputwrite2 {
  width: 110%;
  margin-top: 1rem;
  margin-left: 3rem;
  padding-left: 1rem;
  padding-top: 1rem;
  color: #0006;
  height: 7rem;
  resize: none;
  outline: none;
  border-radius: 6px;
  border: 1px solid #0000002e;
}
@mixin maininputapply {
  color: white;
  background: $red;
  margin-top: 1rem;
  margin-left: 3rem;
  border-radius: 6px;
  height: 2.4rem;
  border: none;
  font-size: 8pt;
  width: 9rem;
  font-weight: bold;
  cursor: pointer;
}
@mixin mainimagesstars {
  width: 0.8rem;
}
@mixin mainlabelstars {
  display: $flex;
  margin-left: 1.8rem;
  color: rgba(0, 0, 0, 0.712);
}
@mixin mainstarsimagesmove {
  margin-left: 1.8rem;
}
@mixin mainstarsimagesstyle {
  margin-top: 0.9rem;
  margin-bottom: 1.7rem;
  font-size: 9pt;
}
@mixin mainstarsimagesstyles {
  margin-top: 3.4rem;
  font-size: 9pt;
}
@mixin mainreviewproduct {
  margin-top: 2rem;
  margin-left: 20rem;
  font-size: 10pt;
  color: #00000080;
  margin-bottom: 6rem;
}
@mixin mainchatCostomerReview {
  margin-left: 3rem;
  display: flex;
  font-size: 10pt;
  margin-top: 2rem;
  margin-bottom: 0.2rem;
  color: #0000008a;
}
@mixin mainimagesfooter {
  margin: auto;
  text-align: center;
}
@mixin footer {
  width: 100%;
  height: 20rem;
  background-image: url("../images/Ellipse 4.png");
  text-align: center;
  display: $flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-evenly;
  background-position-x: -172px;
  padding-top: 2rem;
  line-height: 2rem;
}
@mixin footercustomer1 {
  display: $flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: nowrap;
  color: #000000b0;
  margin-left: 19rem;
}
@mixin footercustomer2 {
  display: $flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  color: #000000b0;
  flex-wrap: nowrap;
}
@mixin footercustomer3 {
  display: $flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: nowrap;
  color: #000000b0;
  margin-right: 18rem;
}
@mixin footergarycolor {
  font-size: 10pt;
  line-height: 1.6rem;
  color: #00000063;
}
@mixin footersocial {
  width: 100%;
  height: 3rem;
  display: list-item;
}
@mixin footercopyright {
  margin-left: 13.5rem;
  margin-top: -1.5rem;
  color: #0000004d;
  font-size: 10pt;
}
@mixin footersocialmedia {
  margin-top: -1.5rem !important;
  margin-right: 20rem;
}
@mixin headercartboxes {
  width: 18rem;
  height: 10rem;
  background-color: #efefef;
  margin-top: 3rem;
  margin-left: -15rem;
  border-radius: 5px;
  z-index: 13;
  cursor: pointer;
  display: table;
}
@mixin headercartbuy {
  width: 90%;
  height: 3rem;
  margin: auto;
  margin-top: 0.5rem;
  display: $flex;
  margin-bottom: 0.9rem;
}
@mixin headercartbuybutton {
  width: 93%;
  margin: auto;
  display: grid;
  margin-bottom: 0.5rem;
  height: 2.2rem;
  padding-top: 0.5rem;
  background: #549654;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 11pt;
  cursor: pointer;
}

@mixin headercartbuycontact {
  width: 70%;
  height: 100%;
  display: $flex;
}
@mixin headercartbuyadder {
  width: 30%;
  height: 100%;
  display: $flex;
}
@mixin headercartbuyimages {
  width: 3rem;
}
@mixin headercartbuyinformation {
  font-size: 8pt;
  line-height: 24px;
}
@mixin headercounter  {
  width: 1rem;
  padding-left: 0.5rem;
  height: 2rem;
  margin-top: 0.3rem;
  border: none;
  box-shadow: 1px 1px 7px;
  outline: none;
}
@mixin headercounter2  {
  width: 1rem;
  padding-left: 0.5rem;
  height: 2rem;
  margin-top: 0.3rem;
  border: none;
  box-shadow: 1px 1px 7px;
  outline: none;
}
@mixin headerincrementbtn {
  border: none;
  font-size: 15pt;
  margin-left: 0.4rem;
  cursor: pointer;
}
@mixin headerincrementbtn2 {
  border: none;
  font-size: 15pt;
  margin-right: 0.4rem;
  cursor: pointer;
}
@mixin headerincrementbtn1 {
  border: none;
  font-size: 15pt;
  margin-left: 0.4rem;
  cursor: pointer;
}
@mixin headerincrementbtn3 {
  border: none;
  font-size: 15pt;
  margin-right: 0.4rem;
  cursor: pointer;
}
@mixin headercartbuyadderplus {
  margin-left: 0.7rem;
  margin-top: 0.9rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
@mixin headercartbuyadderminer {
  margin-left: 0.7rem;
  margin-top: 0.9rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

@mixin hidden {
  display: table;
}


@mixin mainboxopen {
  width: 24.8rem;
  margin-left: 2.3rem;
  position: absolute;
  height: 11rem;
  background-color: #e8e8e8;
  display: none;

}
/*# sourceMappingURL=style.css.map */ /*# sourceMappingURL=style.css.map */


